pyTelegramBotAPI
requests
Flask
beautifulsoup4
pypdf
edge-tts
duckduckgo-search
g4f
groq
tavily-python
google-generativeai
Pillow
openpyxl
python-pptx
python-docx
reportlab
torch
transformers
scipy
numpy
